* {
    margin: 0;
    padding: 0;
    color: var(--colorgray);
  }
  
  :root {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    --colorgray: gray;
    --colorLightGray: lightgrey;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding: 40px;
  }
  
  a {
    text-decoration: none;
  }
  
  nav ul {
    list-style: none;
    color: var(--colorgray);
  }
  
  nav {
    align-content: center;
  }
  
  .main-nav {
    display: flex;
  }
  
  .sub-nav-items {
    display: flex;
    padding: 20px;
  }
  
  nav a {
    /* padding: 10px; */
  }
  
  .sub-nav {
    display: none;
    background-color: #ffffff;
    position: absolute;
    padding: 20px;
  }
  
  .header-right > a > img {
    height: 24px;
    width: 24px;
    padding: 0px 5px;
  }
  
  .submenu-dropdown {
    background: white;
    position: absolute;
  }
  
  section.mega-dropdown > section {
    display: inline-block;
    vertical-align: top;
  }
  
  nav a:hover + .sub-nav {
    display: block;
  }
  
  footer {
    padding: 40px;
  }
  
  /* footer */
  footer > div {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 1em;
    flex-wrap: wrap;
  }
  
  footer > div > div {
    width: 25%;
  }
  
  footer ul li {
    display: block;
    margin: 0.5em 0;
  }
  
  footer .terms ul li {
    display: inline-flex;
    text-decoration: underline;
    font-size: 14px;
  }
  
  footer .social-cons {
    margin-top: 10px;
  }
  
  .social-cons > img {
    padding: 0 5px;
    height: 1.5em;
  }
  
  section.footerbottom-right {
    text-align: end;
  }
  
  section.footertopFollowUs {
    width: 20%;
  }
  
  li {
    padding-right: 20px;
    padding-top: 5px;
  }
  